@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap');

$font-family-sans-serif:      Roboto, sans-serif;
$font-family-base:            $font-family-sans-serif;
$headings-font-family:        "Fira Sans", Roboto, sans-serif;

$primary:       #004643;
$secondary:     #779FA1;
$success:       #C2E812;
$info:          #BFD7EA;
$warning:       #D1AC00;
$danger:        #DD6031;
$light:         #F9FCFC;
$dark:          #0C1618;
$accent:        #EEEEEE;
$danger-dark:   darken($danger, 10%);
$primary-dark:  darken($primary, 10%);
$warning-dark:  darken($warning, 10%);

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":     $primary,
    "secondary":   $secondary,
    "success":     $success,
    "info":        $info,
    "warning":     $warning,
    "danger":      $danger,
    "light":       $light,
    "dark":        $dark,
    "accent":      $accent,
    "danger-dark":  $danger-dark,
    "primary-dark": $primary-dark,
    "warning-dark": $warning-dark
  ),
  $theme-colors
);

@import "../../node_modules/bootstrap/scss/bootstrap";
