.logo {
  max-width: 20px;
  max-height: 20px;
}

.border-header {
  border-width: 2px !important;
  border-color: var(--secondary) !important;
}

.border-danger {
  border-color: var(--danger) !important;
}

.hover-light:hover {
  transition: all 0.2s ease;
  background-color: var(--accent) !important;
}

.hover-light {
  transition: all 0.2s ease;
  background-color: unset !important;
}

.hover-dark:hover {
  transition: all 0.2s ease;
  background-color: var(--light) !important;
}

.hover-dark {
  transition: all 0.2s ease;
  background-color: initial !important;
}

.hover-with-border-primary:hover {
  transition: all 0.2s ease;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: white;
}

.hover-with-border-dark:hover {
  transition: all 0.2s ease;
  background-color: var(--dark) !important;
  border-color: var(--dark) !important;
  color: white;
}

.hover-with-border-warning:hover {
  transition: all 0.2s ease;
  background-color: var(--warning) !important;
  border-color: var(--warning) !important;
  color: white;
}

.hover-with-border-danger:hover {
  transition: all 0.2s ease;
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
  color: white;
}

.hover-with-border-primary, .hover-with-border-dark, .hover-with-border-warning, .hover-with-border-danger {
  transition: all 0.2s ease;
  background-color: unset;
  border-color: unset;
  color: unset;
}

.hover-bg-border-danger {
  transition: all 0.2s ease;
  border-color: var(--danger) !important;
  background-color: var(--danger) !important;
  color: white;
}

.hover-bg-border-danger:hover {
  transition: all 0.2s ease;
  border-color: var(--danger-dark) !important;
  background-color: var(--danger-dark) !important;
  color: white;
}

.hover-bg-border-primary {
  transition: all 0.2s ease;
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
  color: white;
}

.hover-bg-border-primary:hover {
  transition: all 0.2s ease;
  border-color: var(--primary-dark) !important;
  background-color: var(--primary-dark) !important;
  color: white;
}

.hover-bg-border-warning {
  transition: all 0.2s ease;
  border-color: var(--warning) !important;
  background-color: var(--warning) !important;
  color: white;
}

.hover-bg-border-warning:hover {
  transition: all 0.2s ease;
  border-color: var(--warning-dark) !important;
  background-color: var(--warning-dark) !important;
  color: white;
}
