@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap');

$font-family-sans-serif:      Roboto, sans-serif;
$font-family-base:            $font-family-sans-serif;
$headings-font-family:        "Fira Sans", Roboto, sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap";
